main {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.form-card {
    box-shadow: 1px 1px 1px 1px rgba(131, 128, 128, 0.4);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 16px 24px;
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.field {
    padding-bottom: 4px;
    margin-bottom: 20px;
}

.form-card .field {
    border-bottom: none;
}


.field .name {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.9);
    padding-bottom: 8px;
}

.field .value,
.field .value-edit {
    font-size: 1.05rem;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    width: 90%;
}

.field .value {
    padding-top: 5px;
    padding-bottom: 5px;
}

.field .value-edit {
    margin-left: 8px;
    padding: 4px;
    padding-left: 8px;

}

.button-bar,
.button-bar-edit {
    display: flex;
    width: 100%;
}


.form-card .value,
.form-card .button-bar {
    display: none;
}

.form-card .button-bar .button,
#user-password .button-bar-edit .button:first-child {
    margin-right: 0;
    margin-left: auto;
}

.form-card .button-bar-edit .button:first-child {
    margin-right: auto;
}



.form-card .button-bar,
.form-card .button-bar-edit {
    padding-top: 30px;
}

#cancel-button {
    background-color: rgb(170, 0, 0);
    border-color: rgb(170, 0, 0);
}

.form-card:not(:first-child) {
    margin-top: 3.2em;
}