@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@media screen and (max-width: 800px) {
    .main-menu>.menu-item:not(.mobile) {
        display: none;
    }

    .main-menu .mobile-only {
        display: flex !important;
    }

    .main-menu #menu-opener .content {
        display: block;
        width: 32px;
    }

    footer .content-row {
        flex-direction: column;
    }


    footer .content-row .contact,
    footer .content-row .payment-options,
    footer .content-row .links {
        margin: 0 auto;
        padding-right: 0 !important;
        padding-bottom: 32px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }


    footer .content-row .links .link-row {
        flex-grow: 0;
        margin-right: 0 !important;
    }
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: roboto;
    background-color: whitesmoke;
}

main {
    margin: 1.2em 1.4em;
    flex-grow: 1;
}




.main-menu {
    font-family: roboto;
    height: 60px;
    width: 100%;
    box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 2;
}


.main-menu .menu-item {
    display: flex;
    flex-direction: row;
    user-select: none;
    text-decoration: none;
    color: black;
    cursor: default;
}

.main-menu .menu-item.hoverable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.main-menu .menu-item .content {
    padding: 0 16px;
    margin: auto 2px;
}

.main-menu .menu-item.spacer {
    flex-grow: 1;
}

.main-menu .mobile-only {
    display: none;
}

.main-menu #user-menu-opener,
.main-menu .shopping-cart {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 8px;
    display: none;
}

.main-menu .shopping-cart .item-amount.hidden {
    display: none;
}

.main-menu .shopping-cart .item-amount {
    margin-top: auto;
}

.main-menu.logged-in #user-menu-opener,
.main-menu.logged-in .shopping-cart {
    display: flex;
}

.main-menu .shopping-cart {
    margin-left: 10px;
    margin-right: 0px;
}

.main-menu.logged-in #login-button {
    display: none;
}

.dropdown-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: white;
}

.dropdown-menu:not(.visible) {
    display: none;
}

.dropdown-menu .menu-item {
    padding: 20px 10px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown-menu.compact .menu-item {
    padding: 10px;
}

.dropdown-menu .menu-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.116);
}

#user-menu {
    top: 60px;
    right: 0;
}

#mobile-menu {
    top: 60px;
}

#mobile-menu .menu-item.button-row .button:not(:first-child) {
    margin-left: 2em;
}

.page-dimmer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.3);
}

.page-dimmer:not(.visible) {
    display: none;
}

footer {
    font-family: roboto;
    font-weight: 500;
    background-color: #0D2235;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding-top: 0.8em;
}

footer #copyright {
    padding: 6px 2em;
    background-color: #191716;
    color: white;
    font-weight: 440;
    font-size: 0.8rem;
}

footer .content-row {
    display: flex;
    padding-left: 40px;
}


footer .content-row .contact {
    padding-right: 40px;
}

footer .content-row .heading {
    padding-bottom: 8px;
    display: inline-block;
    font-weight: 900;
}

footer .contact-details {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-weight: 1000;
}

footer .contact-details .detail {
    display: flex;
    padding-top: 10px;
}

footer .contact-details .detail .icon {
    width: 16px;
    padding-right: 20px;
}

footer .content-row .links {
    display: flex;
    margin: 0 auto;
}

footer .content-row .links .link-row {
    flex-grow: 1;
    margin-right: 2.5em;
}


.button {
    border: 1px solid rgba(40, 126, 255, 0.685);
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    background-color: rgb(35, 65, 201);
    font-weight: 700;
    box-shadow: 1px 1px 3px 1px rgba(36, 35, 35, 0.3);
}

.button:hover {
    background-color: rgb(0, 30, 165);
}

#login-button {
    padding: 8px 10px;
    border-radius: 0;
    font-weight: 900;
    margin-right: 8px;
}

.button.prescription-button {
    padding: 8px 10px !important;
    border-radius: 0;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.card:hover {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);

}